.main{
  height: 100vh;
  width: 100%;
  background:#6983aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-box{
  width: 25%;
  height: 80vh;
  background-color: whitesmoke ;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,.5);
  border-radius: 15px;

}

.main-box h1{
  color: whitesmoke;
  background: transparent;
  background-color: #6983aa;
  padding: 6px 0 2px 0;
  margin-bottom: 8px;
  box-shadow:5px 5px 15px -5px rgba(0,0,0,.3) ;
  text-transform: uppercase;
}

input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #6983aa;
  outline: none;
}

button{
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #6983aa;
  color: #fff;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,.3) ;
}

button:hover{
  background-color: green;
}

ol{
  margin-top: 30px;
}

ol li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #6983aa;
  text-transform: capitalize;
}

.todoStyle{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todoStyle .svg-inline--fa{
  width: 20px;
  height: 20px;
  display: flex;
  background-color: #6983aa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,.3);
}
.todoStyle .svg-inline--fa:hover{
  color: crimson;
}